.text {
    width: 609px;
    height:800px ;
}
header {
    text-align: center;
    border: 2px solid rgb(0, 0, 0);  
    border-radius: 100px;
    background-color: #DDDDDD;
}
.blok1{
    
    text-align: right;
    border: 2px solid rgb(0, 0, 0);  
    border-radius: 50px;
    font-size: 36px;
    background-color: #DDDDDD;
    padding-right: 20px;
}

.blok1-2{
   font-size: 24px; 
   padding-right: 5px;
}
.NoName{
    width: 250px ;
    height: 250px;
    float: left;
    padding-left: 50px;
    padding-top: 20px;
}
.hara {
    text-align: center;
    font-size: 24px;
    border: 2px solid rgb(0, 0, 0);  
    border-radius: 50px;
    background-color: #DDDDDD;
}
#bio {
    font-size: 24px;
    background-color: #DDDDDD;
    border: 2px solid rgb(0, 0, 0);  
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}
.cit {
   text-align: right;
}
button {
    width: 609px;
    height: 50px;
    border:solid 5px black;
}
